@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SplitPDF.Pages.IndexModel
@{
    ViewData["Title"] = "SplitPDF";
}
<asp:Content runat="server" ContentPlaceHolderID="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/style/StyleSheet.css" />
</asp:Content>
<div id="root">

<div class="headerTile">
    <h1>Split your PDFs</h1>
</div>

 <div id="formContainer">

<form method="post" enctype="multipart/form-data">
    @*<asp:FileUpload />*@
    <div id="innerContainer">
    <div class="fileupload">

    <input asp-for="UploadedFile" />
    </div>
    
    <div class="sbtButton">

    <input type="submit" />
    </div>
    </div>
</form>
 </div>
</div>

